# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ^(.+\.(svg|html))$
#default_install_hook_types:
#  - pre-commit
#  - post-checkout
#  - post-merge
#  - post-rewrite

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=100000"]
      - id: trailing-whitespace
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: detect-private-key
      - id: mixed-line-ending
      - id: fix-byte-order-marker

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.10
    hooks:
      # Run the linter
      - id: ruff-check
        types_or: [python, pyi]
        args: [--select, I, --fix]

        # Run the formatter
      - id: ruff-format
        types_or: [python, pyi]
